.fixedContactButton {
  display: none;
}

.img{
  display:none;
}

nav {
  display: flex;
  height: 60px;
  padding: 0px 24px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.navItem {
  color: #403930;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
}


header{
  display: flex;
  padding: 60px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  
}

.headerLinkContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.badge {

  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 24px;
  gap: 10px;

  border-radius: 10px;
  background: #E6EEFF;

  /* 텍스트 속성 */
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */

}

header h1 {
  align-self: stretch;
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 80px */
  letter-spacing: -0.64px;
  
}

.wrapper{
  display: grid; 
}

header h1 em {
  width:22ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;

  background: linear-gradient(
    99deg,
    #001f8f 3.58%,
    rgba(36, 255, 203, 0.5) 90.34%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 
}


.headerLink1 {
  display: block;
  width: 120px;
  padding: 16px 10px;
  text-align: center;
  text-decoration: none;

  border-radius: 16px;
  background: #000;

  color:white;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.headerLink2 {

  display: block;
  width: 120px;
  padding: 16px 10px;
  text-align: center;
  align-items: center;

  text-decoration: none;

  border-radius: 16px;
  border: 1px solid #403930;

  color: #403930;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  
}

/** section : 내소개**/

.Container1{
  display: flex;
  padding: 60px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  position: relative;  /**icon 위치를 위한 속성**/
  background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.myintro{
  box-sizing: border-box;
  align-self: stretch;
  color: #333;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  letter-spacing: -0.36px;
}

.content{
  box-sizing: border-box;
  align-self: stretch;
  color: #333;
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
}

.icon img{
  width:40px;
  height: 40px;
  position: absolute;
  top: 150px;
  right: 550px;
}

/** 기술 스택 **/
.Container2{
  display: flex;
  padding: 60px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  
}
  
.myskill{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  
  
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  letter-spacing: -0.48px;
  
}
  
.content2{
    color: #333;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    text-align: left;
}
  
.skilliconContainer{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  justify-content: center;
  align-items: center;
  flex-wrap:wrap;


}

.skilliconContainer img{
  width: 60px;
  height: 60px;
  gap: 8px;
  

}


/*프로젝트*/
.Container3{
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 60px 24px;
  justify-content: center;  
  align-items: center;
  background: rgba(244, 244, 244, 0.50);
}

.Projects{
  width:342px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0; 

  
}

.Title{
  color: #403930;

  /* sectionTitle */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: -0.48px;
}

.Project1{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 24px 16px;
  flex-direction: column-reverse; 
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: #E6EEFF;
}

.ProPhotoContainer{
  width: 100%;
  height: 202.497px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.photorec, .photoG {
  width:100%;
  height: 202.497px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.photo1 img, .photo2 img, .photo3 img{
  width: 94.815px;
  height: 202.497px;
  border-radius: 16.08px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}




.Proscript1{
  display: flex;
  width: 310px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.Proscript10{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.Protitle1{
  color: #403930;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.Proscript100{
  align-self: stretch;
  color: #403930;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.Prolink{
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.prolink1{
  color: #0F5BA1;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-decoration-line: underline;
}

/*동료 피드백*/

.Container4{

  width: 390px;
  padding: 100px 24px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;

}

.feedbacktitle{
  color: #403930;

/* sectionTitle */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 108.333% */
letter-spacing: -0.48px;
}

.feedbackcontent{
  width: auto;
  height: 100%;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.fbc{
  width: 100%;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 10px;
  background: #FAFAFA;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.fbccontent{
  width:100%;
  color: #403930;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

.fbcwriter{
  align-self: stretch;
  color: #1866AF;
text-align: right;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 208.333% */
}


/*포부*/

.Container5{
  width:100%;
  height: auto;
  display: flex;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
background: #E6EEFF;

}

.promise{
  width: 100%;
  height: auto;
  color: #403930;
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 30px */
letter-spacing: -0.48px;
}

/*footer*/

.footer{
  display: flex;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;


}
.rec{
  width: 374.4px;
height: 182px;
flex-shrink: 0;
background: #FAFAFA;
justify-content: center;
align-items: center;

}
.iconcontainer{

  height: auto;
  display: flex;
justify-content: center;
align-items: center;
gap: 20px;
align-self: stretch;

}

.email{
  align-self: stretch;
  color: var(--Dark, #21243D);
text-align: center;
font-family: Heebo;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

